* {
  box-sizing: border-box;
}

#root,
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #20639b;
}

main {
  padding-top: 50px;
}

.header {
  padding-bottom: 20px;
}

.card {
  background-color: #f2f4f9;
}
